# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Datos/archivos pesados (opcional)
*.docx
*.pdf